*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 15px;
    color: #000;
    font-family: 'Lora';
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1120px;
    margin: 0 auto;
}
/*-----header--------------*/
.logo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    margin-left: 72px;
}

.header {
    display: flex;
    min-height: 49px;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.logo p {
    margin-left: 6px;
    letter-spacing: 2px;
}

.top_navi, a {
    line-height: 133%;
    font-weight: 500; 
    margin-right: 93px;
    letter-spacing: 2px;
}
.top_navi, a:not(:last-child) {
    margin-right: 65px;
}

.top_navi, a:hover {
    color: #973802;
}
/*------about-------------------*/

.about {
    display: flex;
    justify-content: space-between;
}

.photo-video {
    max-width: 488px;
    max-height: 455px;
    margin-top: 87px;
}

.photo {
    display: flex;
    font-size: 45px;
    font-weight: 400;
    color: #973802;
    margin-left: 50px;
    letter-spacing: 8px;
}

.photo h3 {
    color: #97390280;
    margin: 0;
}

.text {
    margin-top: 66px;
    text-align: center;
    font-weight: 400;
    max-width: 375px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-left: 60px;
    line-height: 1.3;
}

.location {
    display: flex;
    text-align: center;
    margin-top: 38px;
}

.location p {
    margin-left: 27px;
    font-size: 10px;
    font-weight: 500;
    margin-top: 41px;
}

.img {
    display: flex;
    align-items: stretch;
    margin-top: 25px;
}

.img2 {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.last {
    margin-top: auto;
}
/*------whot i do------------------*/
.ander_line {
    border-bottom: 2px solid gray;
}

.do {
    margin-top: 140px;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 12px 0px 10px 0px;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    margin-left: 117px;
    text-transform: uppercase;
}

span {
    color: #973802; 
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 8.5px;
}

.the_main {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.beauty {
    display: flex;
    justify-content: space-between;
}

.samsing {
    max-width: 585px;
}

.the_main {
    margin-top: 20px;
}

.syks-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.size {
    margin-top: 45px;
}

.top {
    margin-top: 35px;
}
/*---------footer----------------------*/
.footer {
    padding-bottom: 100px;
}

.tel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stay {
    margin: 140px 0px 49px 0px;
}

.pixel {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.home {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: 1px;
    max-width: 354px;
}

.george {
    margin-right: 22px;
}

.namber {
    margin-right: 86px;
}

.gmail {
    margin-right: 26px;
}